/* FIND FONTS HERE
https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* Global Settings */

body {
  margin: 0 auto !important;
  font-family: 'Lato', sans-serif;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

/* Modals */
.modal-header {
  border-bottom: none;
  padding-bottom: 0;
  font-size: 25px;
  border-radius: 20px;
}

.modal-body {
  padding-top: 0;
  margin: 0;
  text-align: center;
  border-radius: 20px;
}

.modal-content {
  border-radius: 20px;
}

.form-control {
  border-radius: 15px;
  border-color: rgba(226, 239, 255, 1);
}

.my-3 {
  color: rgba(192, 191, 191, 1);
  font-size: 18px;
}

.form-buttons {
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 464px;
}

.form-buttons:hover {
  background-color: rgb(194, 220, 255);
}

.forms .modal-content {
  background-color: rgba(226, 239, 255, 1);
}

/* Search Results */
.search-results {
  margin: 0 5%;
}

/* Cards */
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
  column-gap: 50px;
  grid-auto-columns: auto;
}

.card {
  border: white;
  border-radius: 10px;
  background-color: rgb(194, 220, 255);
}

.card-textbox {
  background-color: white;
  border: 10px solid rgb(194, 220, 255);
  border-radius: 20px;
  color: black;
}

.filler-card {
  background-color: white;
}

/* Navbar */
nav {
  width: 100%;
}

#root nav div button {
  margin: 0 10px;
}

.dropdown-menu.show {
  text-align: center;
}

.color-nav {
  background-color: rgb(194, 220, 255);
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.push {
  padding-top: 85px;
}

.navbar-btn {
  background-color: white;
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  padding: 2px 12px;
}

.navbar-btn:hover {
  background-color: rgba(226, 239, 255, 1);
}

.nav-item {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.dropdown-menu.show {
  text-align: center;
  margin-top: 20px;
  background-color: rgb(194, 220, 255);
  border-radius: 20px;
  padding-left: 13px;
  padding-right: 13px;
}

.dropdown-item {
  background-color: rgba(226, 239, 255, 1);
  border-radius: 10px;
  font-size: 20px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-item:hover {
  background-color: rgba(226, 239, 255, 1);
}

.nav-dropdown {
  padding-left: 8px;
}

/* Homepage */

.home {
  display: flex;
  justify-content: center;
  align-items: left;
  height: 700px;
  flex-direction: column;
}

.home-ctn2 {
  flex-direction: row;
  padding-left: 270px;
}
.home-1 {
  font-size: 80px;
  padding-left: 300px;
}

.home-2 {
  font-size: 30px;
  padding-left: 300px;
}

.recent-ctn {
  display: flex;
  width: 35%;
  justify-content: center;
}

.recently-uploaded {
  font-size: 25px;
  /*margin-left: 150px;
  margin-top: 7px;
  margin-bottom: 10px;*/
}

.search-results-text {
  font-size: 25px;
  margin-bottom: 10px;
}

/*NotesNow*/
.brand-text {
  font-size: 32px;
}

.home-login-text {
  color: white;
  font-size: 25px;
}

.home-signup-text {
  color: white;
  font-size: 25px;
}

.home-signup-button {
  background-color: black;
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
  margin-left: 30px;
  border-radius: 9px;
  margin-top: 30px;
  height: 50px;
  width: 150px;
}

.home-login-button {
  background-color: black;
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
  border-radius: 9px;
  margin-top: 30px;
  height: 50px;
  width: 150px;
  margin-left: 30px;
}

/* Note Details */

.button-or-login {
  margin-top: auto;
}

.note-details {
  display: flex;
  flex-direction: column;
}

.note-description {
  min-height: 80px;
}

.note-other-details {
  font-size: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.upload-item-1 {
  width: 400px;
}

.upload-item-2 {
  font-size: 20px;
  width: 400px;
}

.update-delete-item-3 {
  display: flex;
  justify-content: right;
  align-items: right;
  padding-top: 385px;
  width: 100%;
}

.update-delete-3-btn {
  color: black;
  background-color: rgb(194, 220, 255);
  font-size: 30px;
  padding: 0px 30px;
}

.upload-item-3 {
  display: flex;
  justify-content: right;
  align-items: right;
  width: 100%;
}

.upload-item-3-btn {
  color: black;
  background-color: rgb(194, 220, 255);
  font-size: 30px;
  padding: 0px 30px;
}

.edit-btn {
  color: black;
  background-color: rgb(194, 220, 255);
  padding: 0px 50px;
  font-size: 30px;
  margin-bottom: 10px;
}

.edit-btn:hover {
  background-color: rgb(226, 239, 255);
}

.download-btn {
  color: black;
  background-color: rgb(194, 220, 255);
  padding: 0px 10px;
  font-size: 30px;
  margin-bottom: 10px;
}

.download-btn:hover {
  background-color: rgb(226, 239, 255);
}

.update-btn {
  color: black;
  background-color: rgb(194, 220, 255);
  padding: 0px 27px;
  font-size: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.update-btn:hover {
  background-color: rgb(226, 239, 255);
}

.delete-btn {
  color: black;
  background-color: rgb(194, 220, 255);
  padding: 0px 30px;
  font-size: 30px;
  margin-bottom: 10px;
}

.delete-btn:hover {
  background-color: rgb(226, 239, 255);
}

.upload-download-btn1 {
  color: black;
  background-color: rgb(194, 220, 255);
  margin-left: 10px;
}

.upload-download-btn1:hover {
  background-color: rgb(226, 239, 255);
}

.previewimage {
  min-width: 500px;
  min-height: 500px;
}

/*StarRating*/
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

div.card-img-top.card-img > div > div > canvas {
  width: 100% !important;
  height: 200px !important;
}

.viewer {
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.viewer2 {
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  overflow-y: auto;
  margin-bottom: 10px;
  width: 75%;
  margin-left: 100px;
}

.card .react-pdf__Page__textContent {
  display: none;
}

.pdfText-noteDetail {
  margin-left: 100px;
  display: flex;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: flex;
  justify-content: center;
}

.loading-text-container {
  padding-top: 10px;
}
.bars-container {
  display: flex;
  justify-content: center;
}

.card-img {
  border-radius: 10px 10px 0 0;
  border-top: 10px solid rgb(194, 220, 255);
  border-right: 10px solid rgb(194, 220, 255);
  border-left: 10px solid rgb(194, 220, 255);
}
