/* FIND FONTS HERE
https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* Global Settings */


body {
  margin: 0 auto !important;
}

/* Background Image not in use atm  max-width: 1080px; 
.bg-image {
  width: 100%;
  
}*/

/* Modals */
.modal-header {
  border-bottom: none;
  padding-bottom: 0;
  font-size: 25px;
  border-radius: 20px;
}

.modal-body {
  padding-top: 0;
  margin: 0;
  text-align: center;
  border-radius: 20px;
}

.modal-content {
  border-radius: 20px;
}

.form-control {
  border-radius: 15px;
  border-color:rgba(226, 239, 255, 1);
}

.my-3{
  font-family: 'Lato', sans-serif;
  color: rgba(192, 191, 191, 1);
  font-size: 18px;
}

.signup-create-button{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.login-login-button{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.login-form .modal-content{
  background-color:rgba(226, 239, 255, 1);
}
.search-modal .modal-content{
  background-color:rgba(226, 239, 255, 1);
}

.search-search-text{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding-left: 2px;
  
}

.search-form-button{
  border-radius: 10px;
}

.signup-form .modal-content{
  background: rgba(226, 239, 255, 1);;
}
/* Navbar */
nav {
  width: 100%;
}  

#root nav div button {
  margin: 0 10px;
}

.dropdown-menu.show {
  text-align: center;
}

/* Search Results */
.search-results {
  margin: 0 5%;
}

/* Cards */
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  column-gap: 50px;
  grid-auto-columns: auto;
}

.card{
  border: white;
  background-color:rgb(194, 220, 255);
}

.card-textbox{
  background-color: white;
  border: 10px solid rgb(194, 220, 255);
  border-radius: 20px;
}

.card-img{
  border-top: 10px solid rgb(194, 220, 255);
  border-right: 10px solid rgb(194, 220, 255);
  border-left: 10px solid rgb(194, 220, 255);
}

/*navbar color*/
.color-nav {
  background-color: rgb(194, 220, 255);
  
}

.push {
  padding-top: 80px;

}

.btn {
  background-color: white;
  width: 133px;
  height: 42px;
  color: black;
}

/*nav signup button*/
.nav-signup {
  width: 133px;
  height: 42px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding-left: 8px;
  padding-bottom: 15px;
}
/*search button*/
.search-button-text {
  width: 133px;
  height: 42px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
  padding-left: 8px;
  padding-bottom: 15px;
}

/*nav login button*/
.nav-login {
  width: 133px;
  height: 42px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding-left: 16px;
  padding-bottom: 15px;
} 

/*text : 'Notes' in homepage*/
.home-1 {
  padding-top: 300px;
  padding-left: 300px;
  font-family: 'Lato', sans-serif;
  font-style: Bold;
  font-size: 80px;
  line-height: 96px;
  line-height: 100%;

}

/*text : 'Your one-stop marketplace to all things great.' in homepage */
.home-2 {
  font-family: 'Lato', sans-serif;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  line-height: 100%;
  padding-left: 300px;
}

/*NotesNow*/
.brand-text{
  font-family: 'Lato', sans-serif;
}

.home-login-text{
  font-family: 'Lato', sans-serif;
  color: white;
}

.home-signup-text{
  font-family: 'Lato', sans-serif;
  color: white;
}

.home-signup-button{
  background-color: black;
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
  margin-left: 300px;
  border-radius: 9px;
}

.home-login-button{
  background-color: black;
  margin-left: 30px;
  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
  border-radius: 9px;

}

.nav-upload-text{
  width: 133px;
  height: 42px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding-left: 4px;
  padding-bottom: 13px;
}

/* Note Details */
.note-other-details p{
  margin-bottom: 0;
}

/* .note-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
} */

/* .results {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
} */
